.featuresItemBlock {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    width: 300px;
}
@media (min-width: 1200px){
    .featuresItemBlock {
        width: 500px;
    }
  }
  
  @media (min-width: 1440px){
    .catalogItemWrap {
        width: 888px;
    }

  }