.filtersWrap {
    display: flex;
    flex-direction: column;
    width: 320px;
    gap: 40px;
}

/*! ================================= Location ================================= */

.locationBlock {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.locationTitle {
    align-self: stretch;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--gray);
}

.mapBlock {
    display: flex;
    width: 300px;
    height: 56px;
    align-items: center;
    padding-left: 20px;
    gap: 8px;
    border-radius: 12px;
    background-color: var(--inputs);
    cursor: pointer;
}

.map {
    width: 20px;
    height: 20px;
}

.mapLocation,
.mapLocation:active,
.mapLocation:focus {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--main);
    border: none;
    background-color: inherit;
    outline: none;
}

/*? ================================== Filters ================================== */

.filtersFormBlock {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.filtersTitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--text);
}

.filterGroup {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.filterGroupTitle {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--main);
}

.divider {
    width: 360px;
    height: 0px;
    border-top: 1px solid var(--gray-light);
}

.filterGroupList {
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 8px;
}

.filterGroupItem {
    display: flex;
    height: 96px;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    width: 90px;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    border: 1px solid var(--gray-light);
    mix-blend-mode: multiply;
    transition: border-color ease-in-out 200ms;
    cursor: pointer;
    box-sizing: border-box;
}

.filterGroupItem:hover,
.filterGroupItemActive {
    border-color: var(--button);
}

.filterGroupImg {
    width: 32px;
    height: 32px;
}

.filterGroupText {
    text-align: center;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.08px;
    color: var(--main);
}