.favoriteListWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 650px;
  gap: 32px;
}
._catalogItemWrap_yz1v4_1 {
  width: 600px;
  flex-direction: column;
}
._img_yz1v4_13 {
  width: 600px;
  margin: 0 auto;
  align-self: center;
}
._infoBlock_yz1v4_23 {
  margin: 0 auto;
  align-self: center;
}