.campersListWrapper {
    display: flex;
    flex-direction: column;
    width: 888px;
    gap: 32px;
}

.loadMoreBtn {
    align-self: center;
    width: 145px;
    border: 1px solid var(--gray-light);
    background-color: var(--white);
    transition: border-color ease-in-out 0.3s;
    color: #101828;
}

.loadMoreBtn:hover,
.loadMoreBtn.active {
    background-color: var(--white);
    border-color: var(--button-hover);
}


.loadMoreBtn:disabled {
    background-color: gray; 
    cursor: not-allowed; 
  }

  .buttonContainer {
    display: flex;
    justify-content: space-between; 
    margin-top: 10px; 
  }
  .loadLessBtn {
    margin-left: 10px; 
  }