.camperDetailWrap {
    display: flex;
    flex-direction: column;
    padding: 18px 14px;
    gap: 60px;
    margin: 0 auto;
    align-items: center;
   
}

.featureReviewsBlock {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 320px;
    padding-left: 14px;
    padding-right: 14px;
    justify-content: center;
}

.tabsBlock {
    display: flex;
    flex-direction: column;
}

.tabs {
    display: flex;
    gap: 40px;
}

.tab {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--main);
    cursor: pointer;
}

.active {
    padding-bottom: 20px;
    border-bottom: 5px solid var(--button);
}

.divider {
    display: flex;
    width: 100%;
    height: 0;
    flex-shrink: 0;
    border-top: 1px solid var(--gray-light)
}

.featuresReviewsFormBlock {
    display: block;
}


  @media (min-width: 576px){
  /* .featureReviewsBlock {
        width: 576px;
    }*/ 
    }
    
    @media (min-width: 768px){
        .featureReviewsBlock {
            width: 768px;
            align-items: center;
        }
    }
    
    @media (min-width: 1200px){
        .camperDetailWrap {
            padding: 48px 64px;
        }
        .featureReviewsBlock {
            gap: 44px;
            width: 1200px;
            padding-left: 64px;
            padding-right: 64px;
            align-items: normal;
        }
        .featuresReviewsFormBlock {
            display: flex;
            gap: 40px;
        }
    }
    
    @media (min-width: 1440px){
        .featureReviewsBlock {
            width: 1440px;
        }
    }