header {
  margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 28px;
    background-color: #f8f8f8; 
    width: 1440px;
    padding-left: 64px;
    padding-right: 64px;
  }
  .iconWrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .iconLogo {
    width: 136px;
    height: 15px;
  }
  .logo {
    margin: 0; 
  }
  nav ul {
    list-style-type: none; 
    padding: 0; 
    display: flex; 
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
text-align: center;
color: var(--main);
    margin-left: 450px;
  }
  nav ul li {
    margin-left: 20px; 
  }
  nav ul li a {
    text-decoration: none; 
    color: #333; 
  }

  .active {
    color: #D84343;
  }