header {
  margin: 0 auto;
 /* display: flex;*/
  align-items: center;
  justify-content: space-between;
  padding: 8px 4px; 
  background-color: #F8F8F8;
  max-width: 320px;
}
.iconWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconLogo {
  width: 136px;
  height: 15px;
}
.logo {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 10px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--main);
  margin: 0;
  gap: 10px;
}
nav ul li {
  margin-left: 20px;
}
nav ul li a {
  text-decoration: none;
  color: #333;
}
.active {
  color: #D84343;
}


@media (min-width: 576px){
  header {
     padding: 10px 14px;/* */
    max-width: 576px;
    display: flex;
    flex-direction: row;
    }
    .logo {
margin-bottom: 0;
    }
    nav ul {
      /*flex-direction: column;*/
      margin-left: 0;
      align-items: center;
    }
    nav ul li {
      margin: 10px 0;
    }
}

@media (min-width: 768px){
  header {
    /* padding: 28px 24px;*/
    max-width: 768px;
    justify-content: space-around;
   }
   nav ul {
     margin-left: 0;
     justify-content: center;
   }
}

@media (min-width: 1200px){
  header {
    /* padding: 28px 24px;*/
    max-width: 1200px;
   }
}

@media (min-width: 1440px){
  header {
    /* padding: 28px 24px;*/
    max-width: 1440px;
   }

}